@import '../../../styles/colors.scss';

.challenge-timer {
  width: 80px;
  position: relative;

  .timer__circle {
    fill: none;
    stroke: none;
  }

  .timer__path-elapsed {
    stroke-width: 7px;
    stroke: $level-2;

  }

  .challenge-timer-label {
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
  }

  .timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: all linear 1s;
  }
}