#stats {
    background-color: #BDAEF8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.games-wrapper {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

h2 {
    margin: 10px 10px;
}

.game-block, 
.today-block {
    border: 2px solid #3b3b3d;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px, 10px;
    padding: 5px 5px;
    min-width: 200px;
}

.charts-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

canvas {
    max-width: 400px;
    max-height: 400px;
    background-color: #fff;
}